
.vs/blazor/config/applicationhost.config
.vs/blazor/FileContentIndex/bfc9c76e-3539-4f08-82b0-500418e9b56b.vsidx
.vs/blazor/FileContentIndex/read.lock
.vs/blazor/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
.vscode/tasks.json
/01a-simple/.vs
/01a-simple/bin/Debug/net7.0
/01a-simple/obj
