@page "/0105InputOutput"

<PageTitle>Input and output</PageTitle>
<h1>Input and output</h1>
<br/>
<table class="table">
    <tr>
        <td>Input:</td>
        <td><input type="text" class="form-control" @bind="userInput"/></td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button type="button" class="btn btn-outline-primary" @onclick="Write">Write</button>
            <button type="button" class="btn btn-outline-secondary"@onclick="Clear">Clear</button>
        </td>
    </tr>
</table>
<br/>
Output:
<br/>
<textarea name="message" class="form-control" rows="10" cols="30">@message</textarea>

@code {
    private string message = "";
    private string userInput = "";

    private void Clear()
    {
        userInput = "";
        message = "";
        System.Console.WriteLine("Message is cleared.");
    }

    private void Write()
    {
        message = message + userInput + Environment.NewLine;
        System.Console.WriteLine("Text is appended to message. Text: " + userInput);
    }
}
