@page "/0204DoubleFloatVariables"

<PageTitle>Types double float</PageTitle>
<h1>Types double float</h1>
<br/>
<button @onclick="Execute">Do It!</button>&nbsp;
<button @onclick="Clear">Clear</button>
<br/>
Output:
<br/>
<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    private void Clear()
    {
        message = "";
    }

    private void Execute()
    {
        double xd = 2;
        message = message + "xd = " + xd + Environment.NewLine;
        double yd = 40;
        message = message + "yd = " + yd + Environment.NewLine;
        double zd = xd + yd;
        message = message + "xd + yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        xd = 1.23e4;
        message = message + "xd = " + xd + Environment.NewLine;
        yd = 2.456e3;
        message = message + "yd = " + yd + Environment.NewLine; ;
        zd = xd + yd;
        message = message + "xd + yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        xd = 1.23e-3;
        message = message + "xd = " + xd + Environment.NewLine;
        yd = 2.456e-2;
        message = message + "yd = " + yd + Environment.NewLine;
        zd = xd + yd;
        message = message + "xd + yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        xd = 3.3e38;
        message = message + "xd = " + xd + Environment.NewLine;
        yd = 3.3e38;
        message = message + "yd = " + yd + Environment.NewLine;
        zd = xd + yd;
        message = message + "xd + yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        xd = 1.6e308;
        message = message + "xd = " + xd + Environment.NewLine;
        yd = 1.6e308;
        message = message + "yd = " + yd + Environment.NewLine;
        zd = xd + yd;
        message = message + "xd + yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        xd = 1.23e3;
        message = message + "xd = " + xd + Environment.NewLine;
        yd = 0;
        message = message + "yd = " + yd + Environment.NewLine;
        zd = xd / yd;
        message = message + "xd / yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        xd = 0.0;
        message = message + "xd = " + xd + Environment.NewLine;
        yd = 0.0;
        message = message + "yd = " + yd + Environment.NewLine;
        zd = xd / yd;
        message = message + "xd / yd = " + zd + Environment.NewLine;
        message = message + Environment.NewLine;

        float xf = 40;
        message = message + "xf = " + xf + Environment.NewLine;
        float yf = 2;
        message = message + "yf = " + yf + Environment.NewLine;
        float zf = xf + yf;
        message = message + "xf + yf = " + zf + Environment.NewLine;
        message = message + Environment.NewLine;

        xf = 1.23e4f;
        message = message + "xf = " + xf + Environment.NewLine;
        yf = 2.456e3F;
        message = message + "yf = " + yf + Environment.NewLine;
        zf = xf + yf;
        message = message + "xf + yf = " + zf + Environment.NewLine;
        message = message + Environment.NewLine;

        xf = 1.23e-3f;
        message = message + "xf = " + xf + Environment.NewLine;
        yf = 2.456e-2f;
        message = message + "yf = " + yf + Environment.NewLine;
        zf = xf + yf;
        message = message + "xf + yf = " + zf + Environment.NewLine;
        message = message + Environment.NewLine;

        xf = 3.3e38f;
        message = message + "xf = " + xf + Environment.NewLine;
        yf = 3.3e38f;
        message = message + "yf = " + yf + Environment.NewLine;
        zf = xf + yf;
        message = message + "xf + yf = " + zf + Environment.NewLine;
        message = message + Environment.NewLine;
    }
}
