@page "/0301zIfBranchMiddle"

<h1>Element at middle</h1>
<p>
You can try to enter integers, real numbers and texts that are not numbers at all.
</p>
<table>
    <tr>
        <td>First argument:</td>
        <td><input style="text-align:right" @bind="x"/></td>
    </tr>
    <tr>
        <td>Second argument:</td>
        <td><input style="text-align:right" @bind="y"/></td>
    </tr>
    <tr>
        <td>Third argument:</td>
        <td><input style="text-align:right" @bind="z"/></td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="Middle">Determine Middle</button> &nbsp;
        </td>
    </tr>
    <tr>
        <td>Result:</td>
        <td><input style="text-align:right" @bind="result"/></td>
    </tr>
</table>
<br/>
@code {

    private double x=0;
    private double y=-1.5;
    private double z = 1.5;
    private double result;

    private void Middle()
    {
        result = x;
        if (x <= y && y <= z){
            Console.WriteLine("1");
            result = y;
        }
        if (x <= y && y >= z && x <= z){
            Console.WriteLine("2");
            result = z;
        }
        if (x <= y && y >= z && x >= z){
            Console.WriteLine("3");
            result = x;
        }
        if (x >= y && y <= z && x <= z){
            Console.WriteLine("4");
            result = x;
        }
        if (x >= y && y <= z && x >= z){
            Console.WriteLine("5");            
            result = z;
        }
        if (x >= y && y >= z){
            Console.WriteLine("6");            
            result = y;
        }
    }

}
