@page "/0101HelloWorld"

<PageTitle>Hello World</PageTitle>
<h1>Hello world</h1>
<br/>
<button @onclick="SayHello">Say Hello</button>
<br />
<br />
<pre>@message</pre>
  
@code {
    private string message = "";

    private void SayHello()
    {
        message = "Hello world!!!";
    }
}
