@page "/0101HelloWorld"

<h1>Hello world</h1>
<br/>
<br />
<pre>@message</pre>

@code {
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        message = "Hello world!!!";
        await Task.Run(() => message=message+"" );
    }
}
