@page "/0102HelloMultiLine"

<PageTitle>Hello World multi line</PageTitle>
<h1>Hello World multi line</h1>
<br/>
<button @onclick="SayHello">Say Hello</button>
<br/>
<br/>
<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    private void SayHello()
    {
        message = "Hello world!!!" + Environment.NewLine 
            + "Greetings from IMBI DSS";
        System.Console.WriteLine("Value for the variable message is set to " + message);
    }
}
