@page "/0104Comments"

<h1>Comments</h1>
<br/>
<br/>
<div style="border:solid; border-color:red; margin: 5px">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        // This is an example of single-line comment

        // The following statement assign "Mickey Mouse" to variable message
        message = message + "Mickey Mouse";

        message = message + Environment.NewLine; // this concatenate new line char to the contents of message variable 

        /*

        This is an example of the comment

            that is extend

                in multiple lines

        */

        /* One statement can also be written in multiple lines */

        message = 
              message 
                 +
                   "James Dean"
                        + 
                           Environment.NewLine;

        // Many statements can be written in the same line
        message = message + "Goofy "; message = message + "Minny Mouse "; message = message + Environment.NewLine;
        await Task.Run(() => message=message+"" );
    }
}
