@page "/0201IntVariables"

<PageTitle>Variables int</PageTitle>
<h1>Type int</h1>
<br/>
<button @onclick="Execute">Do It!</button>
<br/>
Output:
<br/>
<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    private void Execute()
    {
        int x = 7;
        message = "x = " + x;
        message = message + Environment.NewLine;

        int y = 4 + 3;
        message = message + "y = " + y;
        message = message + Environment.NewLine;

        int z = x + y;
        message = message + "x + y = " + z;
        message = message + Environment.NewLine;

        int t = (int)3.5;
        message = message + "t = " + t;
        message = message + Environment.NewLine;
    }
}
