@page "/0203ByteShortLongVariables"

<PageTitle>Variables byte short long</PageTitle>
<h1>Types byte short long</h1>
<br/>
<button @onclick="Execute">Do It!</button>&nbsp;
<button @onclick="Clear">Clear</button>
<br/>
Output:
<br/>
<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    private void Clear()
    {
        message = "";
    }

    private void Execute()
    {
        byte xb = 99;
        byte yb = 101;
        message = message + "xb = " + xb + Environment.NewLine;
        message = message + "yb = " + yb + Environment.NewLine;
        xb += 2; // xb = xb + 2;
        yb -= 2; // yb = yb - 2;
        message = message + "xb = " + xb + Environment.NewLine;
        message = message + "yb = " + yb + Environment.NewLine;
        byte zb = (byte)(xb + yb);
        message = message + "xb + yb = " + zb + Environment.NewLine;
        message = message + Environment.NewLine;

        xb = 99;
        yb = 201;
        message = message + "xb = " + xb + Environment.NewLine;
        message = message + "yb = " + yb + Environment.NewLine;
        xb ++; // xb += 1; 
        yb --; // yb -= 1;
        message = message + "xb = " + xb + Environment.NewLine;
        message = message + "yb = " + yb + Environment.NewLine;
        zb = (byte)(xb + yb);
        message = message + "xb + yb = " + zb + Environment.NewLine;
        message = message + Environment.NewLine;

        short xs = xb;
        short ys = yb;
        message = message + "xs = " + xs + ", ys = " + ys + Environment.NewLine;
        short zs = (short)(xs + ys);
        message = message + "xs + ys = " + zs + Environment.NewLine;
        message = message + Environment.NewLine;

        xs = 30000;
        ys = 5_000;
        message = message + "xs = " + xs + ", ys = " + ys + Environment.NewLine;
        zs = (short)(xs + ys);
        message = message + "xs + ys = " + zs + Environment.NewLine;
        message = message + Environment.NewLine;

        xs = 30000;
        ys = 30_000;
        message = message + "xs = " + xs + ", ys = " + ys + Environment.NewLine;
        zs = (short)(xs + ys);
        message = message + "xs + ys = " + zs + Environment.NewLine;
        message = message + Environment.NewLine;

        long xl = xs;
        long yl = ys;
        message = message + "xl = " + xl + ", yl = " + yl + Environment.NewLine;
        long zl = xl + yl;
        message = message + "xl + yl = " + zl + Environment.NewLine;
        message = message + Environment.NewLine;

        xl = 5_000_000_000_000_000_000;
        yl = xl;
        message = message + "xl = " + xl + ", yl = " + yl + Environment.NewLine;
        zl = xl + yl;
        message = message + "xl + yl = " + zl + Environment.NewLine;
        message = message + Environment.NewLine;
    }
}
