@page "/0205CharVariables"

<PageTitle>Variables char</PageTitle>
<h1>Type char</h1>
<br/>
<button @onclick="Execute">Do It!</button>&nbsp;
<button @onclick="Clear">Clear</button>
<br/>
<br/>
<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    private void Clear()
    {
        message = "";
    }

    private void Execute()
    {
        char ch1 = 'H';
        message = message + ch1;
        message = message + Environment.NewLine;
        System.Console.WriteLine(ch1);
        message = message + Environment.NewLine;
        System.Console.WriteLine();

        char ch2 = '!';
        message = message + ch2;
        message = message + Environment.NewLine;
        System.Console.WriteLine(ch2);
        int i2 = ch2;
        message = message + i2;
        message = message + Environment.NewLine;
        System.Console.WriteLine(i2);
        message = message + Environment.NewLine;
        System.Console.WriteLine();

        char ch3 = (char)33;
        message = message + ch3;
        message = message + Environment.NewLine;
        System.Console.WriteLine(ch3);
        message = message + Environment.NewLine;
        System.Console.WriteLine();

        char ch4 = (char)(ch1 + ch3);
        message = message + ch4;
        message = message + Environment.NewLine;
        System.Console.WriteLine(ch4);
        message = message + Environment.NewLine;
        System.Console.WriteLine();
    }
}
