@page "/0302bIfElseBranch"

<h1>Area and Volumen</h1>
<br/>
<table>
    <tr>
        <td>Shape:</td>
        <td>
            <select @bind="shape">
              <option value="cube">Cube</option>
              <option value="sphere">Sphere</option>
              <option value="cuboid">Cuboid</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Argument:</td>
        <td>
            <input style="text-align:right" @bind="a"/>
        </td>
    </tr>
    @if (shape == "cuboid")
    {
        <tr>
            <td>Second argument:</td>
            <td>
                <input style="text-align:right" @bind="b"/>
            </td>
        </tr>
        <tr>
            <td>Third argument:</td>
            <td>
                <input style="text-align:right" @bind="c"/>
            </td>
        </tr>
    }
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="AreaVolumen">Calculate</button> &nbsp; 
        </td>
    </tr>
    <tr>
        <td>Area:</td>
        <td><input style="text-align:right" @bind="area"/></td>
    </tr>
    <tr>
        <td>Volumen:</td>
        <td><input style="text-align:right" @bind="volumen"/></td>
    </tr>
</table>
<br/>



@code {
    private double pi = Math.PI;

    private string shape = "cube";

    private double a = 1;

    private double b = 2;

    private double c = 3;

    private double area;

    private double volumen;

    private void AreaVolumen()
    {
        if (shape == "sphere")
        {
            area = 4 * pi * a * a;
            volumen = 4 * pi * a * a * a / 3;
        }
        else if (shape == "cube")
        {
            area = 6 * a * a;
            volumen = a * a * a;
        }
        else if (shape == "cuboid")
        {
            area = 2 * (a*b + b*c + c*a);
            volumen = a * b * c;
        }
        else
        {
            // we can not calculate area or volumen for this shape
            area = -1;
            volumen = -1;
        }
    }
}
