@page "/0303IfElseBranchGuessing"

<PageTitle>Guessing Game</PageTitle>
<h1>Guessing Game</h1>
<br/>
<table>
    <tr>
        <td>Lower limit:</td>
        <td>
            <input style="text-align:right" @bind="lowerLimit"/>
        </td>
    </tr>
    <tr>
        <td>Upper limit:</td>
        <td>
            <input style="text-align:right" @bind="upperLimit"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="StartGame">Start Game</button> &nbsp; 
        </td>
    </tr>
    @if (gameStarted)
    {
            <tr>
                <td style="text-align:center" colspan="2">
                    <input style="text-align:right" @bind="newGuess"/> &nbsp;
                    <button @onclick="CheckGuess">Check</button> &nbsp; 
                </td>
            </tr>
    }
    <tr>
        <td colspan="2">
            <pre>@message</pre>
        </td>
    </tr>
</table>
<br/>


@code {
    private int upperLimit = 100;

    private int lowerLimit = 1;

    private int envisonedNumber = -1;

    private int newGuess = 0;

    private string message = "Press button 'Start Game'";

    private bool gameStarted = false;

    private void StartGame()
    {
        gameStarted = true;
        Random rnd = new Random();
        envisonedNumber = rnd.Next(lowerLimit, upperLimit+1);
        message = "I envisioned a number between " + lowerLimit + " and " + upperLimit + "." + Environment.NewLine
                + "Try to reveal it!" + Environment.NewLine;
    }

    private void CheckGuess()
    {
        if (envisonedNumber == newGuess)
        {
            message += "CONGRATULATION! Number " + newGuess
                    + " is the envisioned one!" + Environment.NewLine;
            message += "For new game, press button 'Start Game'";
            gameStarted = false;
        }
        else if (envisonedNumber > newGuess)
        {
            message += "Sorry, envisioned number is greater than " + newGuess + Environment.NewLine;
        }
        else
        {
            message += "Sorry, envisioned number is less than " + newGuess + Environment.NewLine;
        }
    }

}
