@page "/0304SwitchbBranch"

<PageTitle>Function calculation</PageTitle>
<h1>Function calculation</h1>
<br/>
<table>
    <tr>
        <td>Operation:</td>
        <td>
            <select @bind="selector">
              <option value="0">sinus</option>
              <option value="1">sinus + cosine</option>
              <option value="2">exponent</option>
              <option value="3">square root</option>
              <option value="4">other...</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Argument:</td>
        <td>
            <input style="text-align:right" @bind="x"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="CalculateFunction">Calculate</button> &nbsp; 
        </td>
    </tr>
    <tr>
        <td>Result:</td>
        <td><input style="text-align:right" @bind="f"/></td>
    </tr>
 </table>
<br/>

@code {

    private int selector = 1;

    private double x = 0;

    private double f;

    private void CalculateFunction()
    {
        System.Console.WriteLine("Selector: " + selector);
        System.Console.WriteLine("Argument: " + x);
        switch (selector)
        {
            case 0:
                f = System.Math.Sin(x);
                break;
            case 1:
                f = System.Math.Sin(x) + System.Math.Cos(x);
                break;
            case 2:
                f = System.Math.Exp(x);
                break;
            case 3:
                f = System.Math.Sqrt(x);
                break;
            default: //if i is not in the set {0,1,2,3}
                f = x;
                break;
        }
        System.Console.WriteLine("Result: " + f);
        System.Console.WriteLine();
    }
}
