@page "/0305SwitchStringSelector"
<PageTitle>Function evaluation</PageTitle>
<h1>Function evaluation</h1>
<br/>
<table>
    <tr>
        <td>Operation:</td>
        <td>
            <select @bind="selector">
              <option value="sin">sinus</option>
              <option value="sinpcos">sinus + cosine</option>
              <option value="exp">exponent</option>
              <option value="sqrt">square root</option>
              <option value="sqr">square</option>
              <option value="log">logarithm</option>
              <option value="other">other...</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Argument:</td>
        <td>
            <input style="text-align:right" @bind="x"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="CalculateFunction">Calculate</button> &nbsp; 
        </td>
    </tr>
    <tr>
        <td>Result:</td>
        <td><input style="text-align:right" @bind="f"/></td>
    </tr>
 </table> 
<br/>

@code {

    private string selector = "sinpcos";

    private double x = 0;

    private double f;

    private void CalculateFunction()
    {
        System.Console.WriteLine("Selector: " + selector);
        System.Console.WriteLine("Argument: " + x);
        switch (selector)
        {
            case "sin":
                f = System.Math.Sin(x);
                break;
            case "sinpcos":
                f = System.Math.Sin(x) + System.Math.Cos(x);
                break;
            case "exp":
                f = System.Math.Exp(x);
                break;
            case "sqrt":
                f = System.Math.Sqrt(x);
                break;
            case "sqr":
                f = x * x;
                break;
            case "log":
                f = System.Math.Log(x);
                break;
            default: //if i is not in the set {0,1,2,3}
                f = x;
                break;
        }
        System.Console.WriteLine("Result: " + f);
        System.Console.WriteLine();
    }
}
