@page "/0306SwitchMultiSelector"

<PageTitle>Switch statement</PageTitle>
<h1>Operator type</h1>
<br/>
<table>
    <tr>
        <td>Operator:</td>
        <td><input style="text-align:center" @bind="oper"/></td>
    </tr>
    <tr>
        <td style="text-align:left" colspan="2">
            <button @onclick="CheckOperatorType">Check operator!</button>&nbsp;
        </td>
    </tr>
    <tr>
        <td>Operator type:</td>
        <td> @message  </td>
    </tr>
</table>
<br/>

@code {
    private string oper = "";
    private string message = "";

    private void CheckOperatorType()
    {
        System.Console.WriteLine("Operator: " + oper);
        switch (oper)
        {
            case "+":
            case "-":
                message = oper + " is additive operator";
                System.Console.WriteLine(message);
                break;
            case "*":
            case "/":
                message = oper + " is multiplicative operator";
                System.Console.WriteLine(message);
                break;
            case "<":
            case ">":
            case "==":
            case ">=":
            case "<=":
                message = oper + " is relational operator";
                System.Console.WriteLine(message);
                break;
            case ">>":
            case "<<":
            case ">>>":
            case "|":
            case "&":
            case "~":
            case "^":
                message = oper + " is bitwise operator";
                System.Console.WriteLine(message);
                break;
            case "!":
            case "&&":
            case "||":
                message = oper + " is logical operator";
                System.Console.WriteLine(message);
                break;
            default:
                message = oper + " is unknown operator";
                System.Console.WriteLine(message);
                break;
        }
    }
}
