@page "/0502FunctionPower"

<PageTitle>Power</PageTitle>
<h1>Power</h1>
<br/>
<table>
    <tr>
        <td>Base:</td>
        <td>
            <input style="text-align:right" @bind="baseOne"/>
        </td>
    </tr>
    <tr>
        <td>Exponent:</td>
        <td>
            <input style="text-align:right" @bind="exponent"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button title="by forward counting" @onclick="PowerByFunction">Power</button> &nbsp; 
        </td>
    </tr>
    <tr>
        <td>@baseOne powered to the @exponent:</td>
        <td><input style="text-align:right" @bind="result"/></td>
    </tr>
 </table> 
<br/>

@code {

    private double baseOne = 2.5;

    private int exponent = 0;

    private double result = 1;

    private double Power(double theBase, int exp)
    {
        if (exp == 0)
        {
            return 1;
        }
        double res = 1;
        bool exponentIsNegative = false;
        if (exp < 0)
        {
            exponentIsNegative = true;
            exp = -exp;
        }
        for (int i = 1; i <= exp; i++)
            res *= theBase;
        if (!exponentIsNegative)
            return res;
        else
            return 1 / res;
    }

    private void PowerByFunction()
    {
        Console.WriteLine("PowerByCountForward");
        Console.WriteLine("Base: " + baseOne);
        Console.WriteLine("Exponent: " + exponent);
        result = Power(baseOne, exponent);
        System.Console.WriteLine("Result: " + result);
        System.Console.WriteLine();
    }

}
