@page "/0503aModuleNamespaceDoubleFactoriel"
@using DSS.Helpers;

<PageTitle>Power</PageTitle>
<h1>Power</h1>
<br/>
<table>
    <tr>
        <td>Argument:</td>
        <td>
            <input style="text-align:right" @bind="number"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="DoubleFactFunction">Double Factoriel</button> &nbsp; 
        </td>
    </tr>
    <tr>
        <td style="text-align:right">@number !!:</td>
        <td><input style="text-align:right" @bind="result"/></td>
    </tr>
 </table> 
<br/>

@code {

    private int number = 7;

    private long result = 1;

    private void DoubleFactFunction()
    {
        Console.WriteLine("DoubleFactFunction");
        Console.WriteLine("Argument: " + number);
        result = Mathematics.DoubleFactorial(number);
        System.Console.WriteLine("Result: " + result);
        System.Console.WriteLine();
    }

}
