@inherits LayoutComponentBase

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        
        <div class="top-row px-4">
            <a href="https://ekof-dss.github.io/" target="_blank">About</a>
        </div>
        
        <article>
            @Body
        </article>
    </main>
</div>
